<app-navbar [showHome]="true" class="fixed top-0 left-0 w-full z-50"></app-navbar>

<main class="relative min-h-[calc(100vh-8rem)] flex flex-col lg:flex-row items-center justify-center bg-app-gradient pt-[4.5rem] pb-[3.5rem] lg:gap-x-4">

  
  <!-- 🌄 Imagen de fondo transparente -->
  <div 
      class="absolute inset-0 bg-[url('/images/grade.webp')]  bg-cover bg-center opacity-40 z-0">
   </div>
  
  <!-- Back button-->
  <app-back-button class="absolute top-[5.5rem] right-4 z-40"></app-back-button>


  <!-- Formulario -->
  <div class="w-full lg:w-1/2 flex justify-center px-2 sm:px-4">
    <div class="w-full max-w-2xl bg-darkbg rounded-2xl shadow-lg p-6 sm:p-8 lg:p-10 relative z-20 isolate">
      <h2 class="text-2xl sm:text-3xl font-bold text-center text-primary mb-6">Registro jugador</h2>

      <form [formGroup]="registerForm" (ngSubmit)="register()" class="grid grid-cols-1 lg:grid-cols-2 gap-4">

        <!-- Columna izsquierda -->
        <div class="flex flex-col gap-4">

          <!-- Nombre completo -->
          <div class="relative">
            <input type="text" formControlName="fullName" placeholder="Nombre completo"
                  class="input-animated w-full pl-10 p-2 border border-primary rounded-lg focus:outline-none focus:ring-2 focus:ring-primary text-secondary placeholder-secondary" />
            <!-- SVG usuario -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute left-3 top-2.5 text-secondary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z"/>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M6 20v-2a4 4 0 014-4h4a4 4 0 014 4v2"/>
            </svg>
          </div>


          <!-- Apodo -->
          <div class="relative">
            <input type="text" formControlName="nickname" placeholder="Apodo (opcional)"
                  class="input-animated w-full pl-10 p-2 border border-primary rounded-lg focus:outline-none focus:ring-2 focus:ring-primary text-secondary placeholder-secondary" />
            
            <!-- SVG apodo -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute left-3 top-2.5 text-secondary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z"/>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M16 16c-1.33-1.33-2.67-2-4-2s-2.67.67-4 2v2h8v-2z"/>
            </svg>
          </div>


          <!-- Edad -->
         <div class="relative">
          <input type="number" formControlName="age" placeholder="Edad"
                class="input-animated w-full pl-10 p-2 border border-primary rounded-lg focus:outline-none focus:ring-2 focus:ring-primary text-secondary placeholder-secondary" />
          
          <!-- SVG de calendario / edad -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute left-3 top-2.5 text-secondary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3M3 11h18M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
          </svg>
        </div>

         
          <!-- Selección de posición -->
          <div class="bg-darkbg p-4 rounded-2xl shadow-md flex flex-col gap-3">
          
          <div class="flex items-center gap-2">
              <!-- SVG de escudo -->
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" fill="currentColor" viewBox="0 0 24 24">
                <path d="M12 2L3 5v6c0 5.25 3.75 10.74 9 12 5.25-1.26 9-6.75 9-12V5l-9-3z"/>
              </svg>

            <label class="text-white font-semibold text-lg">Selecciona tu posición</label>
          </div>
  
          <div class="grid grid-cols-3 gap-3">
            <!-- Botones de posiciones -->
            <button 
              type="button" 
              *ngFor="let pos of positions"
              (click)="selectPosition(pos)"
              [disabled]="selectedPosition && selectedPosition !== pos"
              [ngClass]="{
                'bg-primary text-darkbg font-bold': selectedPosition === pos,
                'bg-gray-500 text-gray-300 cursor-not-allowed': selectedPosition && selectedPosition !== pos,
                'bg-gray-700 text-gray-200 hover:bg-gray-600 hover:text-white': !selectedPosition
              }"
              class="py-3 rounded-lg transition-all text-center font-medium shadow-sm"
            >
              {{ pos }}
            </button>

            <!-- Botón de limpiar-->
            <button 
              type="button" 
              (click)="clearPosition()"
              [disabled]="!selectedPosition"
              class="col-span-2 py-3 rounded-lg bg-gray-600 text-white hover:bg-red-400 transition font-medium shadow-sm"
            >
              Quitar selección
            </button>
          </div>
        </div>

      </div>

       
      <!-- Columna derecha -->
        <div class="flex flex-col gap-4">


          <!-- Dorsal -->
          <div class="relative">
            <input type="number" formControlName="number" placeholder="Dorsal" min="0" max="99"
                  class="input-animated w-full pl-10 p-2 border border-primary rounded-lg focus:outline-none focus:ring-2 focus:ring-primary text-secondary placeholder-secondary" />
            
            <!-- SVG de camiseta estilizada -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute left-3 top-2.5 text-secondary" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 3h4l2 4h4l2-4h4v7l-2 10H6L4 10V3z"/>
            </svg>
          </div>



          <!-- Correo electrónico -->
          <div class="relative">
            <input type="email" formControlName="email" placeholder="Correo electrónico"
                  class="input-animated w-full pl-10 p-2 border border-primary rounded-lg focus:outline-none focus:ring-2 focus:ring-primary text-secondary placeholder-secondary" />
            
          <!-- SVG MAIL -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute left-3 top-1/2 -translate-y-1/2 text-secondary" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8m0 0v10a2 2 0 01-2 2H5a2 2 0 01-2-2V8z"/>
          </svg>
          </div>

          <!-- Contraseña -->
          <div class="relative">
            <input 
              [type]="showPassword ? 'text' : 'password'" 
              formControlName="password" 
              placeholder="Contraseña"
              (input)="onPasswordChange($any($event.target).value)"
              class="input-animated w-full pl-10 pr-10 p-2 border border-primary rounded-lg focus:outline-none focus:ring-2 focus:ring-primary text-secondary placeholder-secondary"
            />
            
            <!-- SVG candado -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute left-3 top-1/2 -translate-y-1/2 text-secondary" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <rect x="5" y="11" width="14" height="10" rx="2" ry="2"/>
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 7V11"/>
              <path stroke-linecap="round" stroke-linejoin="round" d="M8 11V7a4 4 0 018 0v4"/>
            </svg>


            <!-- Botón ojo -->
            <button type="button" (click)="showPassword = !showPassword"
                    class="absolute right-3 top-1/2 -translate-y-1/2 text-secondary hover:text-hover transition">
              <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
              </svg>
              <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13.875 18.825A10.05 10.05 0 0112 19c-4.477 0-8.268-2.943-9.542-7a10.056 10.056 0 012.223-3.5m2.2-2.5A9.97 9.97 0 0112 5c4.477 0 8.268 2.943 9.542 7a10.056 10.056 0 01-1.734 3.25M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3l18 18"/>
              </svg>
            </button>
          </div>


          <!-- Requisitos de contraseña debajo del input -->
          <ul class="text-sm text-gray-200 space-y-1 mt-2">
            <li [class.text-green-500]="passwordRequirements.minLength" class="flex items-center justify-between">
              Mínimo 6 caracteres
              <span *ngIf="passwordRequirements.minLength" class="text-green-500 ml-2">✔</span>
            </li>
            <li [class.text-green-500]="passwordRequirements.uppercase" class="flex items-center justify-between">
              Al menos una mayúscula
              <span *ngIf="passwordRequirements.uppercase" class="text-green-500 ml-2">✔</span>
            </li>
            <li [class.text-green-500]="passwordRequirements.lowercase" class="flex items-center justify-between">
              Al menos una minúscula
              <span *ngIf="passwordRequirements.lowercase" class="text-green-500 ml-2">✔</span>
            </li>
            <li [class.text-green-500]="passwordRequirements.number" class="flex items-center justify-between">
              Al menos un número
              <span *ngIf="passwordRequirements.number" class="text-green-500 ml-2">✔</span>
            </li>
            <li [class.text-green-500]="passwordRequirements.special" class="flex items-center justify-between">
              Al menos un carácter especial
              <span *ngIf="passwordRequirements.special" class="text-green-500 ml-2">✔</span>
            </li>
          </ul>


          <!-- Repetir contraseña -->
          <div class="relative">
            <input [type]="showRepeatPassword ? 'text' : 'password'" formControlName="repeatPassword" placeholder="Repetir contraseña"
                  class="input-animated w-full pl-10 pr-10 p-2 border border-primary rounded-lg focus:outline-none focus:ring-2 focus:ring-primary text-secondary placeholder-secondary"/>
            
            <!-- SVG candado -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute left-3 top-1/2 -translate-y-1/2 text-secondary" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <rect x="5" y="11" width="14" height="10" rx="2" ry="2"/>
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 7V11"/>
              <path stroke-linecap="round" stroke-linejoin="round" d="M8 11V7a4 4 0 018 0v4"/>
            </svg>


            <!-- Botón ojo -->
            <button type="button" (click)="showRepeatPassword = !showRepeatPassword"
                    class="absolute right-3 top-1/2 -translate-y-1/2 text-secondary hover:text-hover transition">
              <svg *ngIf="!showRepeatPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
              </svg>
              <svg *ngIf="showRepeatPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13.875 18.825A10.05 10.05 0 0112 19c-4.477 0-8.268-2.943-9.542-7a10.056 10.056 0 012.223-3.5m2.2-2.5A9.97 9.97 0 0112 5c4.477 0 8.268 2.943 9.542 7a10.056 10.056 0 01-1.734 3.25M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3l18 18"/>
              </svg>
            </button>
            <p *ngIf="registerForm.errors?.['passwordMismatch']" class="text-red-500 text-sm text-center mt-2">
              Las contraseñas no coinciden.
            </p>
          </div>


          <!-- Botón de enviar -->
          <button type="submit"
                  class="mt-4 w-full py-2 md:py-3 rounded-lg bg-primary text-darkbg font-bold hover:bg-hover transition">
            Registrarse
          </button>

          <p *ngIf="errorMessage" class="text-red-500 text-sm text-center mt-2">{{ errorMessage }}</p>
        </div>
      </form>


     
    </div>
  </div>
</main>
